body{
    background-color: black;
    color: white;
}

button{
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button{
    background-color: chocolate;
}