@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(17 17 17);
}

.logo {
  width: 30px;
  height: 30px;
  margin: 20px;
}

.header {
  position: sticky;
  top: 14px;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  width: min(1100px, 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  box-shadow: none;
  backdrop-filter: blur(12px);
}

.navbar.scrolled {
  box-shadow:
    12px 40px rgba(0, 0, 0, 0.85),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}

#navbar-line:hover {
    border-top: 1px solid rgb(92, 92, 92);
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  color: rgb(212 212 212);
  font-size: 14px;
}

.dark-symbol {
  color: #fff;
  margin-right: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  background-color: rgb(216 216 216);
  font-size: 14px;
  margin-right: 20px;
}

h1 {
  font-size: 58px;
  color: #fff;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 10rem 0px 10rem;
}

.hero {
  width: 48%;
}

.para {
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 20px;
  color: rgb(212 212 212);
}

.start {
  padding: 14px 26px;
  border-radius: 8px;
  border: none;
  background-color: rgb(251 146 60);
  color: #fff;
  font-size: 16px;
}

.demo {
  padding: 14px 26px;
  border-radius: 8px;
  border: none;
  background-color: rgb(35 35 38);
  color: #fff;
  font-size: 16px;
  margin-left: 26px;
}

.stats-section {
  display: flex;
  justify-content: left;
  gap: 80px;
  padding: 1rem 10rem;
  margin-top: 40px;
}
.stat-card h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.stat-card p {
  font-size: 18px;
  color: rgb(139 139 146);
  margin-top: 8px;
}

.features-section {
  text-align: center;
  padding: 80px 80px 40px;
}
.features-section h2 {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

.features-section p {
  font-size: 16px;
  color: rgb(212 212 212);
  margin-top: 16px;
}

.features {
  max-width: 980px;
  margin: 0px auto;
  padding: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.row1 {
  grid-column: span 4;
}
.row2 {
  grid-column: span 3;
}
.row3 {
  grid-column: span 6;
}

#progress {
  border-top-left-radius: 10px;
}

#reviews {
  border-top-right-radius: 10px;
}

#peer {
  border-bottom-right-radius: 10px;
}

#proof {
  border-bottom-left-radius: 8px;
}

.card {
  background-color: hsl(240deg 5.88% 10%);
  border: 1px solid #1f1f24;
  border: none;
  padding: 22px;
}

.card:hover {
  background-color: hsl(240, 5%, 13%);
}

.card h3 {
  font-size: 16px;
  line-height: 1.6;
  margin: 14px 0 18px;
  font-weight: 400;
  color: #d6d6d6;
}

.card a {
  font-size: 13px;
  color: rgb(144 144 153);
  text-decoration: none;
}

.card a:hover {
  color: rgb(251 146 60);
}

.wide {
  grid-column: span 2;
}

.tag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 400;
}

.blue {
  background: #1e3a8a;
  color: #bfdbfe;
}
.purple {
  background: #4c1d95;
  color: #e9d5ff;
}
.yellow {
  background: #78350f;
  color: #fde68a;
}
.gray {
  background: #27272a;
  color: #d4d4d8;
}
.orange {
  background: #7c2d12;
  color: #fed7aa;
}
.pink {
  background: #831843;
  color: #fbcfe8;
}
.green {
  background: #064e3b;
  color: #a7f3d0;
}

.footer {
  text-align: center;
  padding: 40px;
  font-size: 13px;
  color: #6b7280;
}
