body {
  background-color: #121212;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#parent {
  border: 0.5px solid rgb(253, 78, 78);
  display: grid;
  /* grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px; */
  grid-template-rows: repeat(6, 100px);
  grid-template-columns: 100px 1fr 2fr 1fr;

  gap: 5px;
}

.child {
  border: 1px solid rgb(249, 137, 155);
  background-color: pink;
  color: #000;

  display: flex;
  justify-content: flex;
  align-items: center;
}

.child-7{
  grid-column-start: 2;
  grid-column-end: -2;
}

.child-6{
    /* grid-row-start: -2;
    grid-row-end: -1; */
    /* grid-row: -2 / -1; */

    /* grid-column-start: 3;
    grid-column-end: 4; */
    /* grid-column: 3 / 4; */

    grid-area: 4 / 2 / span 2 / span 2;
}


